/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/

*{
    margin: 0;
}

.questionButton {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(42, 171, 226);
    border: black 2px solid;

    display: flex;
    position: absolute;

    justify-content: center;
    align-items: center;
    font-size: 25px;

    bottom: 10px;
    right: 10px;
    position: fixed;
}


.black-box {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: rgb(37, 37, 37);
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.devDailyBox {
    height: 70px;
    width: 250px;
    /* background-color: cornflowerblue; */
    display: flex;
    align-items: center;
    margin-left: 20px;
    
}

.linksBox {
    height: 70px;
    width: 450px;
    /* background-color: rgb(39, 182, 39); */
    display: flex;
    align-items: center;
    
}

.linksBox > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#topLinks > li {
    margin: 25px;
    color: white;
    font-size: 15px;
    font-family: nunito
    
}


#devHeader {
    color: rgb(42, 171, 226);
    font-size: 25px;
    font-family: nunito;
    
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.skillsCheck {
    height: 700px;
    width: 58%;
    /* background-color: indianred; */
    /* display: flex; */
    /* margin-left:  100px; */
    position: relative;
    float: left;
    left: 8%;
    margin-top: 100px;
    font-family: nunito;
    overflow: hidden;
    
}


.imagesGallery {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: rgb(115, 205, 92); */
    flex-direction: column;
    position: relative;
    float: left;
    left: 8%;
    clear: left;
    height: 300px;
    width: 58%;
    margin-bottom: 120px;

}

#imagesText {
    display: flex;
    margin-left: 8%;
    height: 65px;
    width: 58%;
    /* background-color: grey; */
    justify-content: space-between;
    /* align-items: center; */
    
}

#imagesText > h1 {
    color: black;
    font-family: nunito
}
#imagesText > h4 {
    color: rgb(42, 171, 226);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 35px ;
    font-weight: lighter;
    font-size: 13px;
}

#img1 {
    width: 190px;
    height: auto;
}


.profileAndPopularArticles {
    top: 100px;
    width: 270px;
    height: 620px;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    position: absolute;
    float: right;
    right: 9%;

}

.profile {
    height: 240px;
    width: 215px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    justify-content: space-evenly;
    box-shadow: 5px 5px 30px rgba(102, 75, 75, .3),  -5px -5px 30px rgba(102, 75, 75, .3);
}

 h1 {
    color: black;
    font-size: 25px;
    font-family: nunito
}

.profilePic {
    width: 140px;
    height: auto;
    border-radius: 50%;
    border: black 5px solid;
}


.popularArticles {
    height: 345px;
    width: 215px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    justify-content: center;
    box-shadow: 10px 10px 30px rgba(102, 75, 75, .3),  -10px -10px 30px rgba(102, 75, 75, .3);
}

#articleLinks > li {
    margin: 9px;
}

#articleLinks {
    margin: 25px;
    color: black;
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.articleTitleBox {
    width: 100%;
    height: 40px;
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.articleTitleBox > h1 {
    font-size: 17px;
}
.articleLinksBox {
    width: 130%;
    height: 260px;
    /* background-color: hotpink; */
    display: flex;
    align-items: center;
    margin-right: 0px;
}


.articleH1 {
    font-size: 20px;
}

footer{
    height: 60px;
    width: 100%;
    background-color: rgb(42, 171, 226);
    display: flex;
    align-items: center;
}

.footer > h3 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:300;
    margin-left: 25px;
    font-size: 15px;
}
